{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    'react-html-attrs',
    'transform-decorators-legacy',
    "transform-class-properties"
  ]
}
