.about-container {
	position: relative;
    overflow: hidden;
    height: 65vh;
}

.name-module {
	background-color: #4F7F4B;
    width: 42%;
    height: 30vh;
    position: absolute;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

.huawang {
	position: absolute;
	top: calc(50% - 75px);
	left: 1.5vw;
}

.title-module {
	position: absolute;
	top: calc(50% - 40px);
	left: 12vw;
	color: white;
}

.headline-module {
	margin-top: -20px;
}

.summary-module {
	position: absolute;
	background-color: #B28160;
    width: 55%;
    height: 60vh;
    display: inline-block;
    margin-left: 2vw;
    padding: 30px 40px;
    color: white;
    box-sizing: border-box;
    font-size: 18px;
    right: 0;
    top: 2vh;
}

.tagline {
	margin-top: 4vh;
}

.qualifications-module {
	width: 42%;
	height: 30vh;
	background-color: #41342a !important;
	color: white;
	display: inline-block;
	position: absolute;
	bottom: 0;
	padding: 20px 30px;
	box-sizing: border-box;
}

.qualifications-header {
	margin-top: 2vh;
	margin-bottom: -1vh;
}

.bold-brown {
	color: #a67f4e;
}