header {
	text-align: center;
}

header > h1 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.3em;
	font-size: 2vw;
	margin-top: 0;
	margin-bottom: 0;
	color: #78c272;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.2em;
  
  &:first-child {
  	margin-top: 0.5em;
  }	

  &:last-child {
  	margin-bottom: 0.5em;
  }

  @include large {
  	font-size: 32px;
  }

  @include small {
    font-size: 24px;
  }
}