.image-gallery-image > div {
	height: 76vh;
	background-size: cover;
	background-position: center center;
}

.image-gallery-slide {
	.image-gallery-description {
	  font-family: 'Source Sans Pro', sans-serif;
	  background: none;
	  font-size: 10vh;
	  // top: 32vh;
	  // left: 50%;
	  // -webkit-transform: translateX(-50%);
	  // transform: translateX(-50%);
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  text-align: center;
	  padding: 50px;
	  width: 42%;
	  box-sizing: border-box;

	  .image-gallery-description-inner .subheading {
	    font-size: 6vh;
        margin-top: 1vh;
    	font-weight: 400;
	  }

	  @include small {
	  	top: 15vh;
	  	width: 100%;
	  	font-size: 8vh;	
	  }
	}

	&:first-child .image-gallery-description {
	  // color: #2c2c2c;
	  top: 10vh;
	  width: 100%;

	  .image-gallery-description-inner {
	  	position: relative;
	    top: 50%;
		transform: translateY(-50%);
	  }

	  @include small {
	  	// left: 152px;
	  	top: 20vh;
	  }
	}

	&:first-child .image-gallery-image > div {
	  @include small {
	  	background-position: 30% center;
	  }
	}
}

.home-section {
  padding: 8vh 15vw;
  overflow: hidden;
  background: #FFF3EA;
  color: #3B3B3B;

  @include small {
  	padding-left: 5vw;
  	padding-right: 5vw;
  }
}

.info-section {
  @extend .home-section;
}

.bio-section {
  @extend .home-section;
  padding-top: 0;
  // background: rgba(244,245,246,0.9);
}

.bio-inner {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@include large {
	  width: 100%;
	}
}

.huawang-home {
	margin: 0 auto;
	margin-top: 2vh;
	display: block;
}

.about-link {
	display: block;
	text-align: center;
	margin-top: 2vh;

	&:hover {
      color: #687F36;
    }
}

.bio-summary {
  width: 50%;
  margin-left: 8vw;

  @include small {
  	width: 100%;
  	margin: 0;
  }
}

.bio-button-container {

  .button {
  	border-radius: 3px;
  	margin-top: 2vh;

  	@include small {
  	  width: 100%;
  	}
  }
}
