.image-gallery-image > img {
	height: 76vh;
}

.image-gallery-slide .image-gallery-description {
  font-family: 'Source Sans Pro', sans-serif;
  background: none;
  font-size: 10vh;
  top: 32vh;
  left: 6vw;

}
