.navbar {
	position: relative;
	border-color: #dedede;
	margin-top: 0;
	border-top: 1px solid;
	color: #8a8a8a;
	text-align: center;
	padding: 1.4em 0 1.15em 0;
	margin: 0 auto;

	ul {
		display: inline-block;
		/*width: 1070px;*/
	    list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.nav > li {
	float: left;
	position: relative;
	display: block;
}

.nav > li > a {
	font-size: 1em;
	line-height: 1.2857em;
	font-weight: 600;
	text-decoration: none;
	color: #45445a;
}

.nav > li + li > a {
	border-left: 1px solid;
	border-color: rgba(222,222,222,0.5);
	padding-left: .88em;
	margin-left: .88em;
} 

.nav-fixed {
	position: fixed;
	background-color: #fff;
	width: 100%;
    top: 0;
    border-bottom: 2px solid;
    border-top: none;
    animation: slide 0.25s linear;
    z-index: 10000;
}

@keyframes slide {
	0% {
		margin-top: -61.7px;
	}

	100% {
		margin-top: 0px;
	}
}

.active > a {
	color: #78c272 !important;
}

.nav > li > a:hover {
	color: #78c272 !important;
	text-decoration: underline !important;
}